@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;600 & display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	font-weight:400;
	
}

div#inicio{
	width:500px;
	height:400px;
	padding:10px;
	background-color:#f0f0f0;
	text-align:center;
	margin:auto;
	border: 1px solid #66bbff;
	border-radius:5px;
}

div#novo{
	width:500px;
	height:300px;
	padding:10px;
	background-color:#f0f0f0;
	text-align:center;
	margin:auto;
	border: 1px solid #66bbff;
	border-radius:5px;
}
div#editar{
	width:500px;
	height:300px;
	padding:10px;
	background-color:#f0f0f0;
	text-align:center;
	margin:auto;
	border: 1px solid #66bbff;
	border-radius:5px;
}

div#agenda{
    width:680px;
	padding:5px;
	background-color:#f0f0f0;
	text-align:center;
	margin:auto;
	border: 1px solid #66bbff;
	border-radius:5px;
}

h1{
	color:#66bbff;
}

.Botao1{
	text-decoration:none;
	background-color:#66bbff;
	padding: 5px 10px 5px 10px;
	color:#fff;
	font-size:1.2em;
	font-weight:700;
	border-radius:5px;
	border:0;
	cursor:pointer;

}

.Botao2{
	text-decoration:none;
	background-color:#d51213;
	padding: 5px 10px 5px 10px;
	color:#fff;
	font-size:1.2em;
	font-weight:700;
	border-radius:5px;
	border:0;
	cursor:pointer;

}

.caixa1{
	width: 320px;
	padding: 5px;
	margin-left:80px;
	margin-bottom:10px;
	border: 1px solid #66bbff;
	border-radius:5px;

	
}

.caixa2{
	width: 320px;
	padding: 5px;
	margin-left:80px;
	margin-bottom:10px;
	border: 1px solid #66bbff;
	border-radius:5px;
}

#caixa3 {
	
	width: 50px;
	padding: 5px;
	margin-left:80px;
	margin-bottom:10px;
	border: 1px solid #ff0000;
}

#tabela {
	margin-top: 30px;
	border-collapse:collapse;
}

#tabela th{
	border:1px solid #ddd;
	padding:10px;
	text-align:left;
	background-color: #66bbff;
	color:#fff;
}

#tabela td{
	border:1px solid #ddd;
	padding:10px;
}